<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MEAN Employees</a>
  </div>
</nav>

<div class="container p-4">
  <app-employee></app-employee>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MEAN Contracts</a>
  </div>
</nav>
<div class="container p-4">
  <app-contract></app-contract>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Contracts and Employees</a>
  </div>
</nav>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <th>Contratist name</th>
        <th>Employeee name</th>
        <th>Work´s hours</th>
        <th>Work´s name</th>
        <th>Remaining hours</th>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.contratist }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.whours }}</td>
          <td>{{ employee.dateb }}</td>
          <td>{{ employee.address }}</td>  
        </tr>
      </tbody>
    </table>
  </div>
</div>
  